<div class="navbar" id="navbar">
    <div class="container">
        <div class="d-flex w-100 mt-5">
            <div class="ml-3" style="width:3%">
                <div class="logo">
                    <img src="assets/Images/1.png" alt="">
                </div>
            </div>
            <div class="" style="width:97%">
                <ul class="">
                    <li><a href="">Home</a></li>
                    <li><a href="">Programs</a></li>
                    <li><a href="">Schools</a></li>
                    <li><a href="">About</a></li>
                    <li><a href=""><button>Login</button></a></li>
                    
                    
                   
                    
                     <div class="clearFix"></div>

                </ul>
                <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>
                <mat-menu #menu="matMenu">
                        <a mat-menu-item href="">Home</a>                    
                        <a mat-menu-item href="">Programs</a>
                        <a mat-menu-item href="">Schools</a>
                        <a mat-menu-item href="">About</a>
                        <a mat-menu-item href=""><button>Login</button></a>
                    </mat-menu>
            </div>

        </div>
    </div>
</div>