/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: #1C85C8 !important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
border-color: #1C85C8 !important;
}